{:dbas/api              "http://localhost:4284/api"
 :discuss/clipboard?    false
 :discuss/experimental? true
 :discussion/slug       "cat-or-dog"
 :eden/api              nil
 :layout/lang           :de
 :layout/show-in-div?   true}
