{:discuss/clipboard? false
 :discuss/experimental? true
 :layout/lang :de
 :dbas/api "http://localhost:4284/api"
 :eden/api nil
 :discussion/slug "town-has-to-cut-spending"
 :layout/show-in-div? true}
