$background: #eceff1
$user: #B2DFDB
$system: #fff
$status: #E1F5FE
$info: #FFF8E1

.discuss-bubbles
  list-style: none
  background: $background
  padding: 0
  max-height: 420px
  overflow: auto
  li
    padding: 1em
    overflow: hidden
    display: flex
  .avatar
    position: relative // for triangle

.bubble-status, .bubble-info
  .messages
    max-width: 50%
    margin: auto
    background-color: $status

.bubble-info
  .messages
    background-color: $info

.bubble-system
  .avatar
    &:after
      content: ""
      position: absolute
      top: 0
      right: 0
      width: 0
      height: 0
      border: 5px solid white
      border-left-color: transparent
      border-bottom-color: transparent

.bubble-user
  justify-content: flex-end
  align-items: flex-end
  .messages
    order: 1
    background-color: $user
    border-bottom-right-radius: 0
  .avatar
    order: 2
    background-color: $user
    &:after
      content: ""
      color: $user
      position: absolute
      bottom: -1px
      left: 0
      width: 0
      height: 0
      border: 5px solid $user
      border-right-color: transparent
      border-top-color: transparent
      //box-shadow: 1px 1px 2px 0 rgba(black, 0.2)

.messages
  max-width: 80%
  background: white
  padding: 0.7em
  margin-bottom: 0
  border-radius: 2px
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
  p
    margin: 0 0 0.2rem 0
