$discuss-width: 250px
$discuss-height: 400px

#discuss
  position: fixed
  top: 5em
  right: 0
  padding: 0.5em
  width: $discuss-width
  height: $discuss-height
  font-size: small
  resize: vertical
  overflow: auto
  background-color: #fff
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  h5
    margin: 0.5em 0
  hr
    margin: 0.5em 0

#discuss-arguments
  //max-height: discuss-height - 70px
  //overflow: auto
  resize: vertical

#discuss-control
  padding-bottom: 0.5em

.highlight-text
  background-color: lightyellow

.line-double
  border-top: 3px double #ddd


// Configure inline dialogue
#discuss-dialogue-wrapper
  padding-bottom: 5em

#discuss-dialogue-dropzone
  .well
    margin-bottom: 0 !important


// Optical text customization
.discuss-underline
  background-color: lightyellow
  &:hover
    cursor: pointer

.pointer
  cursor: pointer

#discuss-items-main
  list-style-type: none


// Spinning loading icon
$green: #008744
$blue: #0057e7
$red: #d62d20
$yellow: #ffa700
$white: #eeeeee
$width: 1.5em

.loader
  margin: auto
  position: relative
  width: $width
  &:before
    content: ''
    display: block
    padding-top: 100%

.circular
  animation: rotate 2s linear infinite
  height: 100%
  width: 100%
  transform-origin: center center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.path
  stroke-dasharray: 1,200
  stroke-dashoffset: 0
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
  stroke-linecap: round

@keyframes rotate
  100%
    transform: rotate(360deg)

@keyframes dash
  0%
    stroke-dasharray: 1,200
    stroke-dashoffset: 0
  50%
    stroke-dasharray: 89,200
    stroke-dashoffset: -35px
  100%
    stroke-dasharray: 89,200
    stroke-dashoffset: -124px

@keyframes color
  100%, 0%
    stroke: $red
  40%
    stroke: $blue
  66%
    stroke: $green
  80%, 90%
    stroke: $yellow