$background: #41464d
$stripe: #f2f2f2
$lightgreen: #e0f2f1

body
  background-color: $background

#main-wrapper
  max-width: 950px
  margin: 0 auto
  background-color: white

.stripe
  margin: 1em 0
  background-color: $stripe
  height: 3em

.container
  max-width: 930px

.red
  color: #b91109 !important
  font-weight: bolder

p
  padding-top: 1em

#main-wrapper > div.container.comments > div > div > section > p
  padding-top: 0
  margin-bottom: 0.5em

.arguments
  border-bottom: 1px dashed $background
  background-color: $lightgreen
